<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
<div class="form">
  <h1>
    TODO List
  </h1>
  <p>
    A place to store the things you have to do!
  </p>
<input placeholder="Filter your todos" type="text" (input)="filterTodos($event)" [(ngModel)]="filterText">
<p class="taskBox" *ngFor="let item of todos; let i = index" [ngClass]="{taskCompleted: item.completed}">
<button class="completeButton" (click)="markComplete(i)">Complete</button>  {{ item.task }}  <button class="deleteButton" (click)="delete()" >X</button>
  </p>
<input placeholder="Add your todo" [(ngModel)]="taskInput" ><br>

<button class="addButton" (click)="add()">Add</button>
</div>
</div>

